css
application/config/database.php
application/models/functions_m.php
index.php
source/sass/.sass-cache
application/logs/log-2015-01-14.php
application/logs/log-*.php
config.codekit
boletin-axa-cms.sublime-*
